<h4>Exercise</h4>

In exercise folder (same level as this notebook on github) there is hiring.csv. This file contains hiring statics for a firm such as experience of candidate, his written test score and personal interview score. Based on these 3 factors, HR will decide the salary. Given this data, you need to build a machine learning model for HR department that can help them decide salaries for future candidates. Using this predict salaries for following candidates,

2 yr experience, 9 test score, 6 interview score

12 yr experience, 10 test score, 10 interview score

In [47]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn import linear_model

In [48]:
df = pd.read_csv('hiring.csv')

In [49]:
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [50]:
#fill nan values
df.experience.fillna('zero',inplace=True)

In [51]:
df[df.columns[1]].fillna(df[df.columns[1]].min(),inplace=True)

conda install -c conda-forge word2numbe

In [52]:
#important lib >>
from word2number import w2n
df.experience = df.experience.apply(w2n.word_to_num)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_2136/1914073717.py, line 1)

In [53]:
df.head()

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000

In [54]:
x = df.drop(columns='salary($)')

In [55]:
y= df['salary($)']

In [56]:
from sklearn import linear_model

In [24]:
model = linear_model.LinearRegression()

In [57]:
model.fit(x,y)

LinearRegression()

In [59]:
model.predict([[2,9,6]])

array([53922.45707556])

In [60]:
model.predict([[12,10,10]])

array([94857.62102523])

In [62]:
model.score(x,y)

0.9870378236845745